@this(main: main)

@(gameId: String)

@main("Staring dice wars 2"){

<h2>Waiting Room</h2>


<a href="@routes.WaitingRoomController.startGame(gameId)">Start</a>

<div id="screen">
        delete me
        <!--  This will be populated by the websocket -->
</div>

}
<script type="text/javascript"
        src="@routes.Assets.versioned("javascripts/ws-wait-actions.js")"
async defer></script>

<script type="text/javascript"
        id="ws-js"
        location="ws-wait"
        gameUrl="@routes.GameController.game()"
        src="@routes.Assets.versioned("javascripts/webSocket.js")"
        async defer></script>