@import models.game._

@(territory: Territory)

<div style="top:@{territory.topPx}vw;left:@{territory.leftPx}vw;position: absolute;z-index:100;transform:translate(0%,-50%);">



    @Some(territory.diceCount).map{
        case 1 => {
            <img style="width:1.25vw;" src="@routes.Assets.versioned("images/dice/diceOne.png")">
        }
        case 2 => {
            <img style="width:1.4vw;" src="@routes.Assets.versioned("images/dice/diceTwo.png")">
        }
        case 3 => {
            <img style="width:1.35vw;" src="@routes.Assets.versioned("images/dice/diceThree.png")">
        }
        case 4 => {
            <img style="width:1.5vw;" src="@routes.Assets.versioned("images/dice/diceFour.png")">
        }
        case 5 => {
    <img style="width:1.25vw;" src="@routes.Assets.versioned("images/dice/diceOne.png")">
    <img style="width:1.5vw;" src="@routes.Assets.versioned("images/dice/diceFour.png")">
        }
        case 6 => {
    <img style="width:1.4vw;" src="@routes.Assets.versioned("images/dice/diceTwo.png")">
    <img style="width:1.5vw;" src="@routes.Assets.versioned("images/dice/diceFour.png")">
        }
        case 7 => {
    <img style="width:1.35vw;" src="@routes.Assets.versioned("images/dice/diceThree.png")">
    <img style="width:1.5vw;" src="@routes.Assets.versioned("images/dice/diceFour.png")">
        }
        case 8 => {
    <img style="width:1.5vw;" src="@routes.Assets.versioned("images/dice/diceFour.png")">
    <img style="width:1.5vw;" src="@routes.Assets.versioned("images/dice/diceFour.png")">
        }
    }
    <div style="transform:translate(0%,-100%);position:absolute;width:100%;height:100%;background:var(--hex-color);opacity:0.1;"></div>

</div>