@import models.game._

@(game: Game, userId: String, gameOver: Boolean = false)

@stroke(borders: Seq[Int], color: String)= @{

def getVectors(width: Double): (Double, Double) = {
(width * 0.5, width * 0.875)
}

val pixels = 0.28
val blur = 1
val (right, down) = getVectors(pixels)

val bCss = Map(
    //      right     down   blur   color
    1 -> s"-${pixels}vw 0px ${blur}px #000",
    2 -> s"-${right}vw -${down}px ${blur}px #000",
    3 -> s"${right}vw -${down}px ${blur}px #000",
    4 -> s"${pixels}vw 0px ${blur}px #000",
    5 -> s"${right}vw ${down}px ${blur}px #000",
    6 -> s"-${right}vw ${down}px ${blur}px #000"
)
    val cCss = Map(
    //       right     down   blur   color
    1 -> s"-${pixels}vw 0px ${blur}px $color",
    2 -> s"-${right}vw -${down}px ${blur}px $color",
    3 -> s"${right}vw -${down}px ${blur}px $color",
    4 -> s"${pixels}vw 0px ${blur}px $color",
    5 -> s"${right}vw ${down}px ${blur}px $color",
    6 -> s"-${right}vw ${down}px ${blur}px $color"
    )

    val notBorders = Seq(1, 2, 3, 4, 5, 6).filterNot(borders.contains)

    (notBorders.map(cCss) ++ borders.map(bCss)).map("drop-shadow(" + _ + ")").mkString("filter: ", " ", "")
""
}

@getColor(player: Int) = @{
    player match{
        case 1 => "green"
        case 2 => "red"
        case 3 => "orange"
        case 4 => "blue"
        case 5 => "magenta"
        case 6 => "BlueViolet"
        case 7 => "Gold"
        case 8 => "NavajoWhite"
        case 9 => "LightSlateGray"
        case 10 => "CadetBlue"
        case 11 => "limegreen"
        case 12 => "DarkTurquoise"
        case 13 => "DarkBlue"
        case 14 => "RosyBrown"
        case 15 => "Thistle"
        case _ => "Peru"
    }
}
@turnStyle(isTurn: Boolean, stillIn: Boolean) = @{
    if (isTurn) "border-radius: 12px;border: 2px solid green;"
    else if (!stillIn) "text-decoration: line-through;"
    else ""
}

@territoryClasses(player: Player, territory: Territory) = @{
    Seq(
        Some("cursorPoint"),
        Some("borderParent").filter(_ => game.rightPlayer(userId) && (territory.belongsTo(player) || player.clickedTerritoryId.flatMap(game.getTerritoryById).exists(_.attackable(game.boardState.toSet).contains(territory)))),
        Some("clickedTerritory").filter(_ => player.clickedTerritoryId.contains(territory.id))
    ).collect{case Some(clazz) => clazz}.mkString(" ")
}

@territoryClassesOnClick(player: Player, territory: Territory) = @{
    if(game.rightPlayer(userId)){
        if(territory.belongsTo(player) && territory.diceCount > 1) {
            s"sendMessage('click-mine-${territory.id}')"
        } else if (player.clickedTerritoryId.isDefined && player.clickedTerritoryId.flatMap(game.getTerritoryById).exists(_.attackable(game.boardState.toSet).contains(territory))){
            s"sendMessage('click-theirs-${territory.id}')"
        } else "null"
    } else "null"
}

@attack = @{
    val gg = game.boardState.filter(_.player == 1)
    (gg.head, gg.head.attackable(game.boardState).head)
}


<div style="overflow: hidden;">

    @game.lastAttack.map{lastAttack =>
        <svg class="boardWrapper" style="position: absolute;z-index:110;pointer-events: none;margin: 1vw;">

            <defs>
                <marker id="markerArrow" markerWidth="13" markerHeight="13" refX="2" refY="6" orient="auto" style="pointer-events: none;">
                    <path d="M2,2 L2,11 L10,6 L2,2" style="fill: #000000;stroke-opacity:0.7;z-index:110;pointer-events: none;" />
                </marker>
            </defs>
            <line x1="@{lastAttack.attacker.leftPx+0.5}vw" y1="@{lastAttack.attacker.topPx+1.5}vw" x2="@{lastAttack.defender.leftPx+0.5}vw" y2="@{lastAttack.defender.topPx+1.5}vw" class="arrow" style="position: absolute;z-index:100;pointer-events: none;"/>

        </svg>
    }

    <div class="boardWrapper aztec">
        @if(gameOver){
            @if(game.winnerPlayerNumber.contains(game.playerNumberFormId(userId))){
                <div style="left:50%;top:50%;transform:translate(-50%, -50%);font-size:10vw;position: absolute;z-index:111;" class="goldtextcss">
                    VICTORY
                </div>
            } else {
                <div style="left:50%;top:50%;transform:translate(-50%, -50%);font-size:10vw;position: absolute;z-index:111;text-shadow:1px 1px 10px red, 1px 1px 10px blue;">
                    DEFEAT
                </div>
            }
        }

        @game.boardState.toSeq.sortBy(a => (a.topPx)*10 + a.leftPx).map{ territory =>
            <span class="@territoryClasses(game.thisTurn, territory)" style="--hex-color: @{getColor(territory.player)}" onclick="@territoryClassesOnClick(game.thisTurn, territory)">
                @Dice(territory)
                 @territory.hexes.map{ hex: Hex =>
                    <div class="borderChild" style="top:@{hex.topPx}vw;left:@{hex.leftPx}vw;">
                        @Hexagon(hex.needsBorder(territory.hexes))
                    </div>
                }
            </span>
        }
    </div>

    <div class="infoTabWrapper">
            <div style="width:100%;display: table;">
                    <span style="display: table-cell;text-align: center;color:grey">@userId</span>
                    <span style="display: table-cell;text-align: center;color:grey">Turn: @{game.turn}</span>
            </div>
            <div style="height: 2em;width:100%;">
                <img id="sound" style="width:1vw;" src="@routes.Assets.versioned("images/favicon.png")" @if(game.notify(userId)){onload="notify()"} onclick="toggleNoise()" >
                @if(game.rightPlayer(userId)){
                    It's your turn!
                }
            </div>

                @game.turnStatus.map{ case (player, isTurn, stillIn, largestUnitedTerritoryCount, diceCount) =>
                    <div style="width: 80%;@turnStyle(isTurn, stillIn);display: table;">
                        <span style="padding-left:1vw;color: @{getColor(player.number)};display: table-cell">&#x2B22;</span>
                        <span style="padding-left:1vw;max-width:30%;display: table-cell;">@player.number</span>
                        <span style="padding-left:1vw;max-width:30%;display: table-cell;">@player.userName</span>
                        <span style="padding-left:1vw;display: table-cell;">@largestUnitedTerritoryCount</span>
                        <span style="padding-left:1vw;display: table-cell;">@diceCount</span>
                    </div>
                }

            <div id="button-box" style="width:16vw;height:6vw;margin: 0 auto;padding: 10px;position: relative;">
                @if(game.rightPlayer(userId) && !gameOver) {
                    <p>1. Click your area. 2. Click neighbor to attack</p>

                    <div class="endTurn" onclick="sendMessage('end-turn')">
                        End turn
                    </div>
                }
            </div>

            <div id="dice-box" style="width:18vw;margin: 0 auto;padding: 5px;position: relative;">
                @game.lastAttack.map{ lastAttack =>
                    <span style="padding-left:1vw;color: @{getColor(lastAttack.attacker.player)};font-size:2em;">&#x2B22;</span>
                    <span>@lastAttack.attackDice.mkString(" + ") = @lastAttack.attackDice.sum</span>
                    <br>
                    <span style="padding-left:1vw;color: @{getColor(lastAttack.defender.player)};font-size:2em;">&#x2B22;</span>
                    <span>@lastAttack.defendDice.mkString(" + ") = @lastAttack.defendDice.sum</span>
                }
            </div>
    </div>
</div>

