@import models.game._

@(game: Game, userId: String, gameOver: Boolean = false)

@stroke(borders: Seq[Int], color: String)= @{

def getVectors(width: Double): (Double, Double) = {
(width * 0.5, width * 0.875)
}

val pixels = 2.25
val blur = 0.5
val (right, down) = getVectors(pixels)

val bCss = Map(
    //    r   d   b   color
    1 -> s"-${pixels}px 0px ${blur}px #000",
    2 -> s"-${right}px -${down}px ${blur}px #000",
    3 -> s"${right}px -${down}px ${blur}px #000",
    4 -> s"${pixels}px 0px ${blur}px #000",
    5 -> s"${right}px ${down}px ${blur}px #000",
    6 -> s"-${right}px ${down}px ${blur}px #000"
)
    val cCss = Map(
    //    r   d   b   color
    1 -> s"-${pixels}px 0px ${blur}px $color",
    2 -> s"-${right}px -${down}px ${blur}px $color",
    3 -> s"${right}px -${down}px ${blur}px $color",
    4 -> s"${pixels}px 0px ${blur}px $color",
    5 -> s"${right}px ${down}px ${blur}px $color",
    6 -> s"-${right}px ${down}px ${blur}px $color"
    )

    val notBorders = Seq(1, 2, 3, 4, 5, 6).filterNot(borders.contains)

    (notBorders.map(cCss) ++ borders.map(bCss)).mkString("text-shadow: ", ", ", "")
}

@getColor(team: Int) = @{
    team match{
        case 1 => "green"
        case 2 => "red"
        case 3 => "orange"
        case 4 => "blue"
        case 5 => "magenta"
        case 6 => "LightSlateGray"
        case 7 => "Gold"
        case 8 => "NavajoWhite"
        case 9 => "RosyBrown"
        case _ => "limegreen"
    }
}
@turnClass(isTurn: Boolean, stillIn: Boolean) = @{
    if (isTurn) "border-radius: 12px;border: 2px solid green;"
    else if (!stillIn) "text-decoration: line-through;"
    else ""
}

@territoryClasses(team: Player, territory: Territory) = @{
    Seq(
        Some("cursorPoint"),
        Some("borderParent").filter(_ => game.rightPlayer(userId) && (territory.belongsTo(team) || team.clickedTerritoryId.flatMap(game.getTerritoryById).exists(_.attackable(game.boardState.toSet).contains(territory)))),
        Some("clickedTerritory").filter(_ => team.clickedTerritoryId.contains(territory.id))
    ).collect{case Some(clazz) => clazz}.mkString(" ")
}

@territoryClassesOnClick(team: Player, territory: Territory) = @{
    if(game.rightPlayer(userId)){
        if(territory.belongsTo(team)) {
            s"sendMessage('click-mine-${territory.id}')"
        } else if (team.clickedTerritoryId.isDefined && team.clickedTerritoryId.flatMap(game.getTerritoryById).exists(_.attackable(game.boardState.toSet).contains(territory))){
            s"sendMessage('click-theirs-${territory.id}')"
        } else "null"
    } else "null"
}

@if(gameOver){
    <h1>GAME OVER</h1>
}
<div style="overflow: hidden;">
    <div class="aztec" style="border: solid red 2px;width: 58.5vw;height: 41.5vw;position: relative;float:left;">
        @game.boardState.map{ territory =>
            <span class="@territoryClasses(game.thisTurn, territory)" style="color: @{getColor(territory.team)}" onclick="@territoryClassesOnClick(game.thisTurn, territory)">
                @territory.hexes.map{ hex: Hex =>
                    <div class="borderChild" style="top:@{hex.topPx}vw;left:@{hex.leftPx}vw;position: absolute; font-size:3vw;padding-left:0.5vw;@stroke(hex.needsBorder(territory.hexes), getColor(territory.team));">
                        &#x2B22;
                    </div>
                }
            </span>
        }
    </div>
    <div style="border: solid blue 2px;width: 20vw;height: 41.5vw;position: relative;float:left;">
            <p>Turn: @{game.turn}</p>

                @game.turnStatus.map{ case (team, isTurn, stillIn) =>
                    <div style="width: 50%;@turnClass(isTurn, stillIn)">
                        <span style="padding-left:1vw;color: @{getColor(team.number)}">&#x2B22;</span>
                        <span style="padding-left:1vw;">team: @team.number</span>
                    </div>
                }

            @if(game.rightPlayer(userId) && !gameOver) {
                <button onclick="sendMessage('end-turn')">
                    End turn
                </button>
            }
    </div>
</div>

