@import controllers.ViewModel

@this(main: main)

@(rolls: ViewModel)

@main("D&D") {
<a href="/dice">
<button> ROLL </button>
</a>
<h2>DICE ROLLS: </h2>

<table>
    <tr>
        @rolls.rolledDice.map { case (die, diceFace) =>
            <td>
                <div class="@rolls.getDiceClass(die,diceFace) diebox">
                    @diceFace.symbols.map { symbol =>
                        <img width=@rolls.outcomeScreenSize(die,diceFace) height=@rolls.outcomeScreenSize(die,diceFace) src=@rolls.imgSource(symbol) alt="Some alt text"/>
                    }
                </div>
            </td>

        }
    </tr>

</table>

<h2> OUTCOME : </h2>

<table>
    <tr>
        @rolls.outcome.map{ s =>
        <th>@s</th>
        }
    </tr>
</table>

}
