@import controllers.ViewModel

@this(main: main)

@(rolls: ViewModel)

@main("D&D") {
<a href="/dice">
<button> ROLL </button>
</a>
<h2>DICE ROLLS: </h2>

<table>
    <tr>
        @rolls.rolledDice.map { case (die, diceFace) =>
            <td>
                <div class="@rolls.getDiceClass(die,diceFace) diebox">
                    @diceFace.symbols.map { symbol =>
                        <img width=@rolls.outcomeScreenSize(die,diceFace) height=@rolls.outcomeScreenSize(die,diceFace) src=@rolls.imgSource(symbol) alt="@die.toString Roll"/>
                    }
                </div>
            </td>

        }
    </tr>

</table>

<h2> OUTCOME : </h2>

<table>
    <tr>
        @rolls.getSortedOutcome.map{ case(symbol,amount) =>
            @for(_ <- 1 to amount) {
                <td>
                    <div class="diebox @symbol.toLowerCase" title="@amount @symbol.toString">
                        <img src=@rolls.imgSource(symbol) alt="@symbol.toString"/>
                    </div>
                </td>
            }
            <td class="space"></td>
        }
    </tr>
</table>

}
